**/.git
**/.svn
**/.hg
**/CVS
**/node_modules
**/vendor
**/.env
**/env
**/.venv
**/venv
**/.env.bak
**/env.bak
**/.venv.bak
**/venv.bak
**/ENV
**/__pycache__

*.md

.*.js
.*.cjs
.*.mjs
*.js
*.cjs
*.mjs
.*.ts
.*.cts
.*.mts
*.ts
*.cts
*.mts

editor.sublime-project
editor.sublime-workspace
package-lock.json
pnpm-lock.{yml,yaml}
yarn.lock
lefthook.{yml,yaml}
taskfile*.{yml,yaml}

style.css
style-raw.css
styles-list.json
