.*.js
.*.cjs
.*.mjs
.*.ts
*.js
*.cjs
*.mjs
*.ts

*.md

editor.sublime-project
editor.sublime-workspace
package-lock.json
pnpm-lock.yaml
pnpm-lock.yml
yarn.lock

**/.git
**/.svn
**/.hg
**/CVS

**/node_modules

**/vendor

**/.env
**/.venv
**/env
**/venv
**/ENV
**/env.bak
**/venv.bak

**/__pycache__
